:root{
    --poppins-font: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: var(--poppins-font);

}
 li{
    list-style: none;
    text-decoration: none;
}

.col{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:100%;
    /* background-color: black; */

}




/* side css */
.side_bar{
    width: 20%;
    height: 50em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.tittle{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-data{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:end;
    flex-wrap: wrap;
}
.side_data_ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2em;
   
}
.list_li{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* content css */
.content{
    width: 80%;
    height: 50em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 2em;

    background-color: #e4e0e055;
}

.con_head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.con-head-input{
    width: 50%;
    
}
input:focus {
    outline: none;
}

.con-sales-info{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.con-detail-data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.con-detail-input{
    width: 100%;
}

.table_data{
width: 90%;
height: auto;
display: flex;
flex-wrap: wrap;

}


@media(max-width:975px){
    .col{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 975px;
        height:100%;
        /* background-color: black; */
    
    }
    .side_bar{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* background-color: blue; */
    }
    .side-data{
       width: 100%;
        /* background-color: red; */
    }
    .side_data_ul{
        width: 100%;
        height: auto;
        display: flex; 
        /* background-color: aqua; */
    }

    .content{
        width: 100%;
    }
}
